*{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header{
    background-color: purple;
    padding: 50px;
}
h2{
    padding: 10px;
    color: white;
}
#map { height: 350px }
input{
    width: 400px;
    height: 40px;
}
button{
    height: 40px;
    width: 40px;
}
