<!-- sell.html -->
{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <h1>Sell Stock</h1>
    <form action="/sell" method="post">
        <!-- Display a dropdown of stocks owned by the user -->
        <div class="form-group">
            <label for="symbol">Select Stock</label>
            <select class="form-control" id="symbol" name="symbol" required>
                <!-- Use Jinja to dynamically generate options based on user's portfolio -->
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="shares">Number of Shares</label>
            <input type="number" class="form-control" id="shares" name="shares" placeholder="Enter number of shares" required>
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}
